
  <ion-content fullscreen>
     
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col style="text-align: center; top: 100px;">
          <ion-list-header>SIGN IN</ion-list-header>
          <ion-avatar class="ion-margin-start">
            <img src="./assets/avatar.svg">
          </ion-avatar>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
    <br><br><br><br><br>
    <div>
    <ion-item>
      <ion-label>Imel</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label>Pass</ion-label>
      <ion-input type="password" ></ion-input>
    </ion-item>
  </div>
  <br>
  <section class="full-width">
    <ion-button  expand="block" color="secondary" routerLink="/menu" (click)="masuk()">Sign in</ion-button>
  </section>
  <div style="text-align: center;">
    <h4>OR</h4></div>
<br>
    <section class="full-width">
      <ion-button  expand="block" color="secondary"> <ion-icon name="logo-google"></ion-icon> Sign-Up email</ion-button>
      </section>
      <br>
      <section class="full-width">
        <ion-button  expand="block" color="secondary"> <ion-icon name="logo-twitter"></ion-icon>  Sign-up twitter</ion-button>
        </section>
        <br>
        <section class="full-width">
          <ion-button  expand="block" color="secondary"><ion-icon name="logo-facebook"></ion-icon> Sign-up Facebook</ion-button>
          </section>
</ion-content>
