<ion-header>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grid</title>
  <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css"/>
  <style>
    :root {
      --ion-safe-area-top: 20px;
      --ion-safe-area-bottom: 22px;
    }

    ion-col > div {
      background-color: #f7f7f7;
      border: solid 1px #ddd;
      padding: 10px;
    }
  </style>
</ion-header>
<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon name="bag-add-outline" slot="start"></ion-icon>
       <ion-label routerLink="/menu">Home</ion-label>
     </ion-item>
      <ion-item>
         <ion-icon name="bag-add-outline" slot="start"></ion-icon>
        <ion-label>Barang Masuk</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="bag-remove-outline" slot="start"></ion-icon>
        <ion-label>Barang Keluar</ion-label>
      </ion-item>
      <ion-item>
         <ion-icon name="archive-outline" slot="start"></ion-icon>
        <ion-label>Peminjaman</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="server-outline" slot="start"></ion-icon>
        <ion-label>Penyimpanan</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="receipt-outline" slot="start"></ion-icon>
        <ion-label>Laporan</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="people-circle-outline" slot="start"></ion-icon>
        <ion-label>Daftar User</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Inbox</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-button expand="block" onclick="openMenu()">Open Menu</ion-button>
  </ion-content>
</div>
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button auto-hide="false"></ion-menu-button>
  </ion-buttons>
  <ion-buttons slot="primary">

  </ion-buttons>

  <ion-title>Barang Keluar</ion-title>
  
</ion-toolbar>
<ion-content fullscreen>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="danger">
      <ion-icon routerLink="/tambah-barang-id" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>