<ion-header>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grid</title>
  <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css"/>
  <style>
    :root {
      --ion-safe-area-top: 20px;
      --ion-safe-area-bottom: 22px;
    }

    ion-col > div {
      background-color: #f7f7f7;
      border: solid 1px #ddd;
      padding: 10px;
    }
  </style>

<ion-toolbar>
  <div>
 
  <ion-title> <ion-icon name="arrow-back-outline" ></ion-icon> Tambah Barang</ion-title></div>

</ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-card>
    <ion-card-header>
    </ion-card-header>
    <ion-card-content>
      
        <ion-label>Kode Barang</ion-label>
        <ion-input placeholder="001"></ion-input>
     
        <ion-label>Nama Barang</ion-label>
        <ion-input placeholder="Meja"></ion-input>
     
        <ion-label>Kondisi Barang</ion-label>
        <ion-select interface="popover">
          <ion-select-option value="genesis">Rusak</ion-select-option>
          <ion-select-option value="saturn">Rusak Ringan</ion-select-option>
          <ion-select-option value="snes">Rusak Parah</ion-select-option>
        </ion-select>
        <ion-label>Jumlah Barang</ion-label>
        <ion-input placeholder="placeholder"></ion-input>
     
        <ion-label>Lokasi</ion-label>
        <ion-select interface="popover">
          <ion-select-option value="genesis">Rak 1</ion-select-option>
          <ion-select-option value="saturn">Rak 2</ion-select-option>
          <ion-select-option value="snes">Rak 3</ion-select-option>
          <ion-select-option value="snes">Rak 4</ion-select-option>
        </ion-select>
        <ion-button size="small">Batal</ion-button>
        <ion-button size="small" color="danger" routerLink="/tambah-barang-masuk">Tambah</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="danger">
      <ion-icon routerLink="/tambah-barang" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>