<ion-header>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grid</title>
  <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css"/>
  <style>
    :root {
      --ion-safe-area-top: 20px;
      --ion-safe-area-bottom: 22px;
    }

    ion-col > div {
      background-color: #f7f7f7;
      border: solid 1px #ddd;
      padding: 10px;
    }
  </style>
</ion-header>
<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon name="bag-add-outline" slot="start"></ion-icon>
       <ion-label routerLink="/menu">Home</ion-label>
     </ion-item>
      <ion-item>
         <ion-icon name="bag-add-outline" slot="start"></ion-icon>
        <ion-label>Barang Masuk</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="bag-remove-outline" slot="start"></ion-icon>
        <ion-label>Barang Keluar</ion-label>
      </ion-item>
      <ion-item>
         <ion-icon name="archive-outline" slot="start"></ion-icon>
        <ion-label>Peminjaman</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="server-outline" slot="start"></ion-icon>
        <ion-label>Penyimpanan</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="receipt-outline" slot="start"></ion-icon>
        <ion-label>Laporan</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="people-circle-outline" slot="start"></ion-icon>
        <ion-label>Daftar User</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Inbox</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-button expand="block" onclick="openMenu()">Open Menu</ion-button>
  </ion-content>
</div>
<ion-header>
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button auto-hide="false"></ion-menu-button>
  </ion-buttons>
  <ion-buttons slot="primary">

  </ion-buttons>

  <ion-title> laporan </ion-title><ion-icon name="search-outline" slot="end"></ion-icon>
  
</ion-toolbar>

<ion-segment value="Stok">
  <ion-segment-button routerLink="/laporan" value="Semua">
    <ion-label>Semua</ion-label>
  </ion-segment-button>
  <ion-segment-button routerLink="/laporan-masuk" value="Masuk">
    <ion-label>Masuk</ion-label>
  </ion-segment-button>
  <ion-segment-button routerLink="/laporan-keluar" value="Keluar">
    <ion-label>Keluar</ion-label>
  </ion-segment-button>
  <ion-segment-button routerLink="/laporan-stok" value="Stok">
    <ion-label>Stok</ion-label>
  </ion-segment-button>
  
</ion-segment>
</ion-header>
<ion-content fullscreen>

  <ion-list>
  
    <ion-item>
      <ion-label position="stacked">BM02</ion-label>
      <ion-input placeholder="from 20-11-2020"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">BK03</ion-label>
      <ion-input placeholder="from 13-11-2020"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">BK02</ion-label>
      <ion-input placeholder="from 11-11-2020"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">BK01</ion-label>
      <ion-input placeholder="from 08-11-2020"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">BM01</ion-label>
      <ion-input placeholder="from 06-11-2020"></ion-input>
    </ion-item>
  </ion-list>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>