<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-header>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button</title>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css"/>
    <style>
      :root {
        --ion-safe-area-top: 20px;
        --ion-safe-area-bottom: 22px;
      }
  
      header {
        font-size: 11px;
        font-weight: 600;
        letter-spacing: 0.05em;
        margin-bottom: 1.25em;
        text-transform: uppercase;
      }
  
      section {
        margin-top: 1em;
        margin-bottom: 2.5em;
      }
  
      section:not(.full-width),
      .full-width > header {
        padding: 0 10px;
      }
    </style>
  </ion-header>
  <ion-content fullscreen>
     
      <ion-grid>
        <ion-row>
          <ion-col></ion-col>
          <ion-col style="text-align: center; top: 100px;">
            <ion-list-header>WELCOME</ion-list-header>
            <ion-avatar class="ion-margin-start">
              <img src="./assets/avatar.svg">
            </ion-avatar>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
      <br><br><br><br><br><br>
      <div>
        <section class="full-width">
          <header>Have Any Account?</header>
          <ion-button  expand="block" color="secondary" routerLink="/sign-in">Sign in</ion-button>
        </section>
      </div>
      
  <div style="text-align: center;">
  <h4>OR</h4></div>
  <div>
    <section class="full-width">
    
      <ion-button  expand="block" color="secondary" routerLink="/sign-up">Sign up</ion-button>
    </section>
  </div>
  </ion-content>
</ion-app>
