<ion-header>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grid</title>
  <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css"/>
  <style>
    :root {
      --ion-safe-area-top: 20px;
      --ion-safe-area-bottom: 22px;
    }

    ion-col > div {
      background-color: #f7f7f7;
      border: solid 1px #ddd;
      padding: 10px;
    }
  </style>
</ion-header>
<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon name="bag-add-outline" slot="start"></ion-icon>
       <ion-label routerLink="">Home</ion-label>
     </ion-item>
      <ion-item> 
         <ion-icon name="bag-add-outline" slot="start"></ion-icon>
        <ion-label routerLink="/barang-masuk">Barang Masuk</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="bag-remove-outline" slot="start"></ion-icon>
        <ion-label routerLink="/barang-keluar">Barang Keluar</ion-label>
      </ion-item>
      <ion-item>
         <ion-icon name="archive-outline" slot="start"></ion-icon>
        <ion-label routerLink="/peminjaman">Peminjaman</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="server-outline" slot="start"></ion-icon>
        <ion-label routerLink="/penyimpanan">Penyimpanan</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="receipt-outline" slot="start"></ion-icon>
        <ion-label routerLink="/laporan">Laporan</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="people-circle-outline" slot="start"></ion-icon>
        <ion-label routerLink="/daftar-user">Daftar User</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label routerLink="/login">Logout</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Inbox</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-button expand="block" onclick="openMenu()">Open Menu</ion-button>
  </ion-content>
</div>
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button auto-hide="false"></ion-menu-button>
  </ion-buttons>
  <ion-buttons slot="primary">

  </ion-buttons>

  <ion-title>Home</ion-title>
  
</ion-toolbar>
<ion-content fullscreen>
  <ion-grid>
  <ion-row>
    <ion-col>
      <div style="font-size: 12px;;"><img src="/assets/Gambar/ada.png" routerLink="/barang-masuk">  Barang Masuk</div>
    </ion-col>
    <ion-col>
      <div style="font-size: 12px;;"><img src="/assets/Gambar/keluar.png" routerLink="/barang-keluar"> Barang Keluar</div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div style="font-size: 12px;;"><img src="/assets/Gambar/peminjaman.png" routerLink="/peminjaman">Peminjaman</div>
    </ion-col>
    <ion-col>
      <div style="font-size: 12px;;"><img src="/assets/Gambar/penyimpanan.png" routerLink="/penyimpanan">Penyimpanan</div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div style="font-size: 12px;;"><img src="/assets/Gambar/user.png" routerLink="/daftar-user">Daftar User</div>
    </ion-col>
    <ion-col>
      <div style="font-size: 12px;;"><img src="/assets/Gambar/laporan.png" routerLink="/laporan">Laporan</div>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>