<ion-header>
  <ion-toolbar>
    <ion-title>tambah-barang-masuk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text  style="font-size: 20px;"color="primary">
   <center> BARANG SUDAH DI TAMBAHKAN!</center> 
  </ion-text>
  <ion-button  size="small" color="danger" routerLink="/penyimpanan">Ok</ion-button>
</ion-content>
