
  <ion-content fullscreen>
     
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col style="text-align: center; top: 100px;">
          <ion-list-header>SIGN Up</ion-list-header>
          <ion-avatar class="ion-margin-start">
            <img src="./assets/avatar.svg">
          </ion-avatar>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
    <br><br><br><br><br><br><br>
    <div>
    <ion-item>
      <ion-label>Imel</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <br><br>
    <ion-item>
      <ion-label>Pass</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <br><br>
    <ion-item>
      <ion-label>Ulangi</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </div>
  <br>
  <section class="full-width">
    <ion-button  expand="block" color="secondary">Sign Up</ion-button>
  </section>
  <div style="text-align: center;">
    <h4></h4>Already a have account? <ion-label ahref="#">Sign in</ion-label></div>

</ion-content>
